:root{
    font-size: 16px;

    --color-primary: #6BB945;
    --color-primary-light: #B0C936;
    --color-primary-dark: #11A249;
    --color-secondary: #DB0024;
    --color-secondary-light: #F92F2F1A;
    --color-secondary-dark: #CE1126;
    --color-disable: #D0D5DD;
    --color-disable-light: #F9FAFB;

    --color-binary: #F2F2F2;
    --color-green-light: #EFF5EB;
    --color-green: #11A249;
    --color-yellow-light: #FFFBF2;
    --color-yellow: #FFA901;
    --color-white: white;
    --color-black: #344054;
    --color-semiblack: #667085;
    --color-error: #E70C0C;
    --color-error-light: #FFEDED;
    --color-light-gray: #DEDEDE;

    --font-size-bigger: 28px;  /* 48px */
    --font-size-big: 24px;  /* 44px */
    --font-size-semi-big: 20px; 
    --font-size-normal: 14px;  
    --font-size-normal-2: 16px;  
    --font-size-small: 8px;  
    --font-size-small-2: 12px;  

    --font-family-primary: "Inter", sans-serif;
    --font-family-secondary: "Open Sans";

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

}

/* For Testing Purpose */
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}